<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" /> <!-- network 상태를 미리 체크하여 연결 안된 경우 다이얼로그를 보여주려면 아래 permission 추가 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" /> <!-- android test 돌릴 때 화면 lock 풀어야 로그인 touch 가능 -->
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />

    <application
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".QR.QRCodeAcitivty" />
        <activity android:name=".Activites.FindingAccount.GetPasswrodActivity" />
        <activity android:name=".Activites.FindingAccount.FindPasswordActivity" >
        </activity>
        <activity android:name=".Activites.FindingAccount.GetEmailActivity" />
        <activity android:name=".Activites.FindingAccount.FindEmailActivity" />

        <activity android:name=".Activites.UserAccount.PhoneAuthActivity" >
        </activity>
        <activity android:name=".Activites.UserAccount.SignUpActivity" />
        <activity android:name=".Activites.UserAccount.InputPasswordAcitivty" />
        <activity android:name=".Activites.UserAccount.LoginActivity" />


        <meta-data
            android:name="com.kakao.sdk.AppKey"
            android:value="@string/kakao_native_key" />

        <activity
            android:name=".Activites.SplashActivity"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

    </application>

</manifest>